[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_sample_bcast"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_sample_bcast
	url = https://github.com/foundational-networks/peel_workload_sample_bcast.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_bcast_dfsize_30"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_bcast_dfsize_30
	url = https://github.com/foundational-networks/peel_workload_ls_bcast_dfsize_30.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_bcast_dfsize_50"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_bcast_dfsize_50
	url = https://github.com/foundational-networks/peel_workload_ls_bcast_dfsize_50.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_bcast_dfsize_70"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_bcast_dfsize_70
	url = https://github.com/foundational-networks/peel_workload_ls_bcast_dfsize_70.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ft_bcast_dfsize_30"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ft_bcast_dfsize_30
	url = https://github.com/foundational-networks/peel_workload_ft_bcast_dfsize_30.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ft_bcast_dfsize_50"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ft_bcast_dfsize_50
	url = https://github.com/foundational-networks/peel_workload_ft_bcast_dfsize_50.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ft_bcast_dfsize_70"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ft_bcast_dfsize_70
	url = https://github.com/foundational-networks/peel_workload_ft_bcast_dfsize_70.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_allgather_allreduce_dfsize_50"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_allgather_allreduce_dfsize_50
	url = https://github.com/foundational-networks/peel_workload_ls_allgather_allreduce_dfsize_50.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ft_allgather_allreduce_dfsize_50"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ft_allgather_allreduce_dfsize_50
	url = https://github.com/foundational-networks/peel_workload_ft_allgather_allreduce_dfsize_50.git
	branch = master
[submodule "Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_traffic_trace_50"]
	path = Omnet_Sims/dc_simulations/simulations/sims/peel_workload_ls_traffic_trace_50
	url = https://github.com/foundational-networks/peel_workload_ls_traffic_trace_50.git
	branch = master
