
/out
.*
!.gitignore
!.settings
!.project
!.oppbuildspec
!.nedfolders
!.nedexclusions
!.cproject
*result*/
random_config_dir/
*.anf
core
*.db*
*.pyc
# distributions/
src/dc_simulations
src/dc_simulations_dbg
perf*
flow_info/
#simulations/Two_Layer_Leaf_Spine/MAC_Table_Data/*.txt
#simulations/Two_Layer_Leaf_Spine/distributions/*.txt
